<article class="activity">
    <aside class="activity__icon"></aside>
    <header class="activity__subject">
        <h3 class="js-subject"></h3>
    </header>
    <h5 class="activity__content js-content"></h5>
    <p class="activity__description js-description"></p>
    <div class="activity__hour">
        <img class="hour__icon" src="../../assets/icons/clock.svg" alt="" />
        <span class="hour__text js-hour"></span>
    </div>
    <div class="activity__time">
        <img class="time__icon" src="../../assets/icons/timer.svg" alt="" />
        <span class="time__text js-time "></span>
    </div>
</article>