body {
  background-color: var(--color-background);
}

:root {
  --color-background: #f0f0f7;
  --color-primary: #4cc3c1;
  --color-primary-dark: #227c7a;
  --color-secondary: #7c839b;
  --color-secondary-dark: #4376c2;
  --color-text-base: #6a6180;
  --color-danger: #e44061;
  --color-focus: #b0cfe0;
  --color-input-background: #b0cfe0;
  --color-input-selected-background: #e8f0fe;
}

.tabs-container {
  position: relative;
  min-height: 600px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab-container {
  display: flex;
  float: left;
}
.tab-container label {
  background: #f0f0f7;
  width: 120px;
  text-align: center;
  padding: 10px;
  margin-left: -16px;
  position: relative;
  left: -5px;
  cursor: pointer;
  top: -10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.tab-container [type="radio"] {
  opacity: 0;
  cursor: pointer;
}
.tab-content {
  position: absolute;
  top: 74px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 180px 20px 20px 20px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.tab-content2 {
  height: 1px;
  z-index: 5;
  position: absolute;
  top: 28px;
  left: 0;
  background-color: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.3);
}

.tab-content > * {
  opacity: 0;
  transform: translateY(+100%);
  transition: all 0.6s ease;
}
[type="radio"]:focus ~ label {
  outline: 0;
}
[type="radio"]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type="radio"]:checked ~ label ~ .tab-content {
  z-index: 1;
}
[type="radio"]:checked ~ label ~ .tab-content > * {
  opacity: 1;
  transform: translateX(0);
}
