:root {
  --color-background: #f0f0f7;
  --color-primary: #4817bb;
  --color-primary-dark: #3d1992e7;
  --color-secondary: #04d361;
  --color-secondary-dark: #4376c2;
  --color-text-base: #6a6180;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nautilus Pompilius;
}

body,
input,
button,
textarea {
  font-family: Nautilus Pompilius;
  color: var(--color-text-base);
}

.menu-selecionado {
  color: var(--color-secondary);
}

.logo {
  width: 109px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  background-color: var(--color-primary-dark);
}

nav > ul li {
  margin: 5px 57px;
  font-size: 21px;
  position: relative;
}

nav > ul li::after,
nav > ul li::before {
  display: flex;
  width: 0%;
  height: 2px;
  content: '';
  background-color: var(--color-secondary);
  position: absolute;

  right: 0.5rem;
  left: 0.5rem;
  bottom: -3px;

  transition: 0.4s;
}

nav > ul li::after {
  left: auto;
  right: 0;
}

nav > ul li:hover::after,
nav > ul li:hover::before {
  width: 50%;
  transition: 0.4s;
}

nav > ul li > a {
  text-decoration: none;
  color: #f8f9fa;
}

nav > ul {
  list-style-type: none;
}
