@font-face {
  font-family: "Nautilus Pompilius";
  src: url(../../assets/fonts/NautilusPompilius.ttf);
}

section {
  width: 100%;
}

.l-main {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: fade 1.2s;
  margin-top: 20px;
}

.c-chart {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charts-wrapper {
  display: flex;
  flex-direction: column;
}

.c-chart__filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.c-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 10px;
  width: 89px;
  height: 33px;
  font-size: 15px;

  background-color: #fff;
  color: var(--color-text-base);
}

.canvasjs-chart-canvas {
  border-radius: 10px;
  border-bottom: 4px solid var(--color-primary);
}

.canvasjs-chart-canvas ~ .canvasjs-chart-credit {
  display: none !important;
}
