/* ========================================================================== */
/* CSS RESET */
/* Técnica utilizada para remover as estilizações padrões que cada navegador implementar nos elementos.

abaixo estamos removendo a borda,margem e padding padrão de todos os elementos, 
e alterando a forma de calculo do tamanho do elemento. */
/* ========================================================================== */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  color: var(--color-text-base);
}

/*remoção da formatação padrão de inputs no IOS*/
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

/*definindo a opacidade do body como 0, 
para poder ser habilitada no JS assim que a página estiver toda carregada.*/
body {
  opacity: 0;
  transition: opacity 1s;
  background-color: var(--color-background);
}
