/* ========================================================================== */
/* CSS RESET */
/* Técnica utilizada para remover as estilizações padrões que cada navegador implementar nos elementos.

abaixo estamos removendo a borda,margem e padding padrão de todos os elementos, 
e alterando a forma de calculo do tamanho do elemento. */
/* ========================================================================== */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body,
input,
button,
textarea {
  color: var(--color-text-base);
}

/*remoção da formatação padrão de inputs no IOS*/
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

/*definindo a opacidade do body como 0, 
para poder ser habilitada no JS assim que a página estiver toda carregada.*/
body {
  background-color: var(--color-background);
  font-family: "Yanone Kaffeesatz", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

/* remoção da formatação padrão dos navegadores para o select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

option {
  font-size: 20px;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

input,
textarea,
select,
option,
button {
  padding: 8px;
  outline: 0;
  border-radius: 6px;
}

input,
select,
option {
  height: 30px;
}

input[type="submit"],
input[type="reset"],
input[type="radio"],
button {
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  opacity: 0.8;
}

input[type="submit"] {
  background-color: var(--color-primary);
  color: white;
}

input,
textarea,
button {
  border: 1px solid transparent;
}

input:focus,
textarea:focus,
button:focus {
  box-shadow: 0 0 25px var(--color-focus);
  border: 1px solid var(--color-focus);
  transition: all 0.3s;
}

input[type="reset"] {
  background-color: var(--color-danger);
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-text-base);
  box-shadow: 0 0 0px 1000px var(--color-input-selected-background) inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: Nautilus Pompilius;
  animation: autofill 0s forwards;
}
