:root {
  /* ========================================================================== */
  /* Float Label Size */
  /* ========================================================================== */
  --input-height-size: 45px;
  --input-width-size: 300px;
  /* ========================================================================== */
  /* Base Transition Time */
  /* ========================================================================== */
  --time-transition: 0.9s;
}

/* ========================================================================== */
/* Input Float Label  */
/* ========================================================================== */

.input-container {
  margin: 8px 3% 0 3%;
  position: relative;

  height: var(--input-height-size);
  width: var(--input-width-size);
}

.input-container__input {
  position: relative;

  letter-spacing: 1px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 20px 14px 7px 14px;
  transition: 0.4s;
  background: transparent;
  margin: 0;
  outline: none;

  height: var(--input-height-size);
  width: var(--input-width-size);
  z-index: 1;
}

.input-container__input ~ .focus-border:before,
.input-container__input ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: 0.2s;
  transition-delay: 0.2s;
}
.input-container__input ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.input-container__input ~ .focus-border i:before,
.input-container__input ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--color-primary);
  transition: 0.2s;
}
.input-container__input ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.input-container__input:focus ~ .focus-border:before,
.input-container__input:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.input-container__input:focus ~ .focus-border:after {
  transition-delay: 0.2s;
}
.input-container__input:focus ~ .focus-border i:before,
.input-container__input:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}
.input-container__input:focus ~ .focus-border i:after {
  transition-delay: 0.4s;
}
.input-container__input ~ label {
  position: absolute;
  left: 14px;
  top: 18px;
  color: var(--color-label);
  transition: 0.3s;
  /* z-index: -1; */
  letter-spacing: 0.5px;
}
.input-container__input:focus ~ label,
.has-content.input-container__input ~ label {
  top: 3px;
  left: 14px;
  font-size: 12px;
  color: var(--color-primary);
  transition: 0.3s;
}

.has-content.input-container__input {
  background-color: var(--color-input-selected-background);
  z-index: 0;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* Button Base Style */
/* ========================================================================== */

.c-button {
  width: 141px;
  height: 57px;
  font-size: 18px;
  transition: transform 80ms ease-in;
  color: white;
}

.c-button:active {
  transform: scale(0.95);
}

.c-button--primary {
  background-color: var(--color-primary);
}
.c-button--secondary {
  background-color: var(--color-danger);
}

.c-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.c-button:active {
  transform: scale(0.95);
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* Toast Message */
/* ========================================================================== */

.c-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  position: fixed;

  top: 85px;
  right: -100px;
  z-index: 999;

  max-width: 400px;
  width: 400px;
  height: 150px;
  padding: 21px 0;
  text-align: left;

  background-color: white;
  border-radius: 8px;
  box-shadow: var(--global-box-shadow);
  transition: opacity 0.8s, right 0.8s;
}

.c-toast:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.c-toast__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  padding: 7px;
}

.c-toast__icon__image {
  width: 50px;
  margin-left: 20px;
}

.c-toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 17px;

  font-size: 26px;
}

.c-toast__message {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}

.c-toast__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;

  padding-left: 100px;
  padding-right: 14px;
}

.c-toast--green:before {
  background-color: var(--color-primary);
}
.c-toast--blue:before {
  background-color: #1d72f3;
}
.c-toast--yellow:before {
  background-color: #ffc007;
}
.c-toast--red:before {
  background-color: var(--color-danger);
}

.c-toast.show {
  opacity: 1;
  right: 40px;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* Select Component */
/* ========================================================================== */

.select-wrapper {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  padding: 10px;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px var(--color-form-control-border);
}

.select-wrapper + .select-wrapper {
  margin-top: 20px;
}

select {
  flex: 1;
  padding: 0 0.5em;
  color: var(--color-label);
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  font-family: Nautilus Pompilius;
}

.select-wrapper:focus-within {
  box-shadow: 0 0 25px var(--color-focus);
  border: 1px solid var(--color-focus);
  transition: all 0.3s;
}

/* Arrow */
.select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-left: solid 1px var(--color-form-control-border);
  height: 52px;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

/* Transition */
.select-wrapper:hover::after {
  color: var(--color-primary);
}

select:focus > option:checked {
  background: var(--color-primary) !important;
}

option {
  font-size: 20px;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* Menu Layout */
/* ========================================================================== */

.l-header__nav {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--color-primary);
  font-family: Nautilus Pompilius;
}

.c-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 76px;
  width: 100%;
  max-width: var(--global-max-width);
  font-size: 21px;
  list-style-type: none;
}

.c-menu-item {
  position: relative;
  outline: none;
}

.c-menu-item::after,
.c-menu-item::before {
  display: flex;

  position: absolute;
  content: "";

  width: 0%;
  height: 2px;

  background-color: var(--color-inactive-background);
  bottom: -3px;

  transition: width 0.2s;
}

.c-menu-item::before {
  right: auto;
  left: 0;
}

.c-menu-item::after {
  left: auto;
  right: 0;
}

.c-menu-item:hover::after,
.c-menu-item:hover::before {
  width: 50%;
}

.c-menu-link {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 24px;
  outline: none;
}

.c-menu-link--selected {
  color: var(--color-inactive-background);
}

.c-menu-link:focus {
  text-shadow: 9px 3px var(--color-focus);
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black;
  transition: text-shadow 0.3s;
  background-color: transparent;
}

/* ========================================================================== */
/* TABLET STYLES  */
/* ========================================================================== */

@media screen and (min-width: 600px) and (max-width: 959px) {
  :root {
    --global-max-width: 959px;
  }

  .c-menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 76px;
    width: 100%;
    max-width: var(--global-max-width);
  }
}

/* ========================================================================== */
/* MOBILE STYLES  */
/* ========================================================================== */

@media screen and (max-width: 599px) {
  .c-menu-logo {
    width: 80px;
    height: 58px;
  }

  .c-menu-item {
    padding: 10px;
  }

  .c-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-menu__button {
    background-color: transparent;
  }

  .c-menu__button__svg {
    fill: white;
    height: 25px;
  }

  .c-menu-item::after,
  .c-menu-item::before {
    display: none;
  }
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* USER INFO */
/* ========================================================================== */

/*  */

.c-user-info {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;

  visibility: hidden;
  opacity: 0;

  min-width: 208px;
  min-height: 204px;

  transition: all 0.4s;

  z-index: 100;

  top: 100%;
  right: 2px;
  margin-top: 1px;
  padding: 8px 2px;

  box-shadow: var(--global-box-shadow);
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-background);
}

.c-user-info__avatar {
  border-radius: 50%;
  height: 90px;
}

.c-user-info__name {
  margin: 4px 0;
}

.c-user-info__button {
  background-color: rgba(235, 50, 34, 0.815);
  color: white;
  font-size: 11px;
  width: 110px;
  cursor: pointer;

  outline: 0;

  padding: 8px;
  border: 1px solid #b0cfe0;
  border-radius: 6px;
  margin-bottom: 10px;
}

.c-user-info__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 599px) {
  .c-user-info {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: static;
    visibility: visible;
    opacity: 1;

    width: 100%;
    transition: none;

    z-index: var(--z-default);

    margin-top: -22px;
    padding: 8px 2px;

    box-shadow: none;
    border-radius: 0;
    border: 0;
    background-color: var(--color-primary);
    color: white;
    font-family: Nautilus Pompilius;
    font-size: 35px;
  }

  .c-user-info__avatar {
    border-radius: 50%;
    height: 120px;
  }

  .c-user-info__name {
    margin: 4px 0;
    color: var(--color-text-base);
  }

  .c-user-info__button {
    display: none;
  }
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
