/* :root {
  --color-background: #f0f0f7;
  --color-primary: #4817bb;
  --color-primary-dark: #3d1992e7;
  --color-secondary: #04d361;
  --color-secondary-dark: #4376c2;
  --color-text-base: #6a6180;
} */

:root {
  --color-background: #f0f0f7;
  --color-primary: #4cc3c1;
  --color-primary-dark: #227c7a;
  --color-secondary: #7c839b;
  --color-secondary-dark: #4376c2;
  --color-text-base: #6a6180;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nautilus Pompilius;
}

body,
input,
button,
textarea {
  font-family: Nautilus Pompilius;
  color: var(--color-text-base);
}

body {
  opacity: 0;
  transition: opacity 0.8s;
  background-color: var(--color-background);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.menu-selecionado {
  color: var(--color-secondary);
}

.logo {
  width: 109px;
  height: 50px;
  transition: all 0.5s;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: opacity 1s ease-in-out, transform 0.8s;
}

nav {
  position: relative;
  background-color: var(--color-primary);
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
}

nav > ul li {
  margin: 5px 57px;
  font-size: 21px;
  position: relative;
}

.menu-item::after,
.menu-item::before {
  display: flex;
  width: 0%;
  height: 2px;
  content: "";
  background-color: var(--color-secondary);
  position: absolute;

  bottom: -3px;

  transition: 0.4s;
}

.menu-item::before {
  right: auto;
  left: 0;
}

.menu-item::after {
  left: auto;
  right: 0;
}

nav > ul li:hover::after,
nav > ul li:hover::before {
  width: 50%;
  transition: 0.4s;
}

nav > ul li > a {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 24px;
}

nav > ul {
  list-style-type: none;
}

.user-profile-icon {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-profile-icon:after {
  color: white;
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

input,
textarea,
select,
option {
  font-size: 11px;
  padding: 8px;
  outline: 0;
  border: 1px solid #b0cfe0;
  border-radius: 6px;
  margin-bottom: 10px;
}

input,
select,
option {
  height: 30px;
}

input[type="submit"],
input[type="reset"],
input[type="radio"] {
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 0.8;
}

input[type="submit"] {
  background-color: var(--color-primary);
  color: white;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
  transition: all 0.3s;
}

input[type="reset"] {
  background-color: rgba(235, 50, 34, 0.815);
  color: white;
}

.formPopup {
  transition: all 0.4s;
  display: none;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  margin-top: 27px;
  right: 2px;
  padding: 2px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  background-color: #fafafa;
}

.formPopup.not-logged {
  display: flex;
}

.formPopupContainer {
  z-index: 999;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 200px;
  padding: 10px;
  background-color: #fafafa;
}

input.action-button {
  width: 56px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
}

/* USER INFO */

.user-info {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;

  visibility: hidden;
  opacity: 0;

  min-width: 208px;
  min-height: 204px;

  transition: all 0.4s;

  z-index: 100;

  top: 100%;
  right: 2px;
  margin-top: 27px;
  padding: 8px 2px;

  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  background-color: #fafafa;
}

.user-info__avatar {
  width: 90px;
  border-radius: 50%;
}

.user-info__name {
  margin: 4px 0;
}

.user-info__button {
  background-color: rgba(235, 50, 34, 0.815);
  color: white;
  font-size: 11px;
  width: 110px;
  cursor: pointer;

  outline: 0;

  padding: 8px;
  border: 1px solid #b0cfe0;
  border-radius: 6px;
  margin-bottom: 10px;
}

.user-info__button:hover {
  opacity: 0.8;
}

.user-info.not-logged {
  display: none;
}

/* END USER INFO */

/* KEY FRAMES */

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 8%;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    right: 8%;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* END KEY FRAMES */

/* KEY FRAME CLASSES*/
.shake {
  animation: shake 0.5s;
}
/* END KEY FRAME CLASSES*/

.visible {
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}
