/* :root {
  --color-background: #f0f0f7;
  --color-primary: #4817bb;
  --color-primary-dark: #3d1992e7;
  --color-secondary: #04d361;
  --color-secondary-dark: #4376c2;
  --color-text-base: #6a6180;
} */

:root {
  --base-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --base-font-size: 16px;
  --global-max-width: 1200px;
  --color-background: #f0f0f7;
  --color-primary: #4cc3c1;
  --color-primary-dark: #227c7a;
  --color-secondary: #7c839b;
  --color-secondary-dark: #4376c2;
  --color-text-base: #6a6180;
  --color-danger: #e44061;
  --color-focus: #b0cfe0;
  --color-input-background: #b0cfe0;
  --color-input-selected-background: #e8f0fe;
  --color-hover-background: #e8f0fe;
  --color-inactive-background: #199393;
  --color-form-control-border: #ccc;
  --color-label: #aaa;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Nautilus Pompilius; */
}

body,
input,
button,
textarea {
  font-family: Nautilus Pompilius;
  color: var(--color-text-base);
}

/*Remove a formatação padrão de inputs no IOS*/
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

body {
  opacity: 0;
  transition: opacity 1s;
  background-color: var(--color-background);
}

/*Button Styles*/

.button {
  width: 141px;
  height: 57px;
  font-size: 18px;
  transition: transform 80ms ease-in;
  color: white;
}

.button:active {
  transform: scale(0.95);
}

.button--primary {
  background-color: var(--color-primary);
}
.button--secondary {
  background-color: var(--color-danger);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}
/*End-Button Styles*/

.menu-selecionado {
  color: var(--color-inactive-background);
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--color-primary);
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  max-width: var(--global-max-width);
}

nav > ul li {
  margin: 5px 57px;
  font-size: 21px;
  position: relative;
}

.menu-item::after,
.menu-item::before {
  display: flex;
  width: 0%;
  height: 2px;
  content: "";
  background-color: var(--color-inactive-background);
  position: absolute;

  bottom: -3px;

  transition: width 0.2s;
}

.menu-item::before {
  right: auto;
  left: 0;
}

.menu-item::after {
  left: auto;
  right: 0;
}

nav > ul li:hover::after,
nav > ul li:hover::before {
  width: 50%;
}

nav > ul li > a {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 24px;
}

nav > ul {
  list-style-type: none;
}

.user-profile-icon {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-profile-icon:after {
  color: white;
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

input,
textarea,
select,
option,
button {
  font-size: 11px;
  padding: 8px;
  outline: 0;
  /* border: 1px solid #b0cfe0; */
  border-radius: 6px;
  /* margin-bottom: 10px; */
}

input,
select,
option {
  height: 30px;
}

option:hover {
  background-color: red;
}

input[type="submit"],
input[type="reset"],
input[type="radio"] {
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 0.8;
}

input[type="submit"] {
  background-color: var(--color-primary);
  color: white;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 25px var(--color-focus);
  border: 1px solid var(--color-focus);
  transition: all 0.3s;
}

input[type="reset"] {
  background-color: var(--color-danger);
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-text-base);
  box-shadow: 0 0 0px 1000px var(--color-input-selected-background) inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: Nautilus Pompilius;
  animation: autofill 0s forwards;
}

input.action-button {
  width: 56px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
}

/* USER INFO */

.user-info {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;

  visibility: hidden;
  opacity: 0;

  min-width: 208px;
  min-height: 204px;

  transition: all 0.4s;

  z-index: 100;

  top: 100%;
  right: 2px;
  margin-top: 27px;
  padding: 8px 2px;

  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-background);
}

.user-info__avatar {
  width: 90px;
  border-radius: 50%;
}

.user-info__name {
  margin: 4px 0;
}

.user-info__button {
  background-color: rgba(235, 50, 34, 0.815);
  color: white;
  font-size: 11px;
  width: 110px;
  cursor: pointer;

  outline: 0;

  padding: 8px;
  border: 1px solid #b0cfe0;
  border-radius: 6px;
  margin-bottom: 10px;
}

.user-info__button:hover {
  opacity: 0.8;
}

.user-info.not-logged {
  display: none;
}

/* END USER INFO */

/* KEY FRAME CLASSES*/
.shake {
  animation: shake 0.5s;
}
/* END KEY FRAME CLASSES*/

.visible {
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}

/* SELECT STYLES*/

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select-wrapper {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  padding: 10px;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px var(--color-form-control-border);
}

.select-wrapper + .select-wrapper {
  margin-top: 20px;
}

select {
  flex: 1;
  padding: 0 0.5em;
  color: var(--color-label);
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  font-family: Nautilus Pompilius;
}

.select-wrapper:focus-within {
  box-shadow: 0 0 25px var(--color-focus);
  border: 1px solid var(--color-focus);
  transition: all 0.3s;
}

/* Arrow */
.select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-left: solid 1px var(--color-form-control-border);
  height: 52px;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

/* Transition */
.select-wrapper:hover::after {
  color: var(--color-primary);
}

select:focus > option:checked {
  background: var(--color-primary) !important;
}

option {
  font-size: 20px;
}
/* END-SELECT STYLES*/
