:root {
  /* ========================================================================== */
  /* Transitions */
  /* ========================================================================== */
  --transition-duration: 305ms;
  --scale-base: 1.1;

  /* ========================================================================== */
  /* Z-indexes */
  /* ========================================================================== */
  --z-above: 500;
  --z-modal: 400;
  --z-overlay: 300;
  --z-dropdown: 200;
  --z-default: 1;
  --z-below: -1;

  /* ========================================================================== */
  /* Measures */
  /* ========================================================================== */

  --global-max-width: 1200px;
  --global-font-size: 16px;
  --global-radius: 10px;
  --global-module-size: 30px;

  /* ========================================================================== */
  /* Colors */
  /* ========================================================================== */

  --color-background: #f0f0f7;
  --color-primary: #4cc3c1;
  --color-primary-dark: #227c7a;
  --color-secondary: #7c839b;
  --color-secondary-dark: #4376c2;
  --color-danger: #e44061;

  --color-text-base: #6a6180;

  --color-input-background: #b0cfe0;
  --color-input-selected-background: #e8f0fe;
  --color-hover-background: #e8f0fe;
  --color-inactive-background: #199393;

  --color-focus: #b0cfe0;
  --color-form-control-border: #ccc;
  --color-label: #aaa;
  --global-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-profile-icon {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-profile-icon:after {
  color: white;
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-text-base);
  box-shadow: 0 0 0px 1000px var(--color-input-selected-background) inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: Nautilus Pompilius;
  animation: autofill 0s forwards;
}
