.l-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: var(--z-above);
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.c-sidenav__link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.c-sidenav__link:hover {
  color: #f1f1f1;
}

.c-sidenav__close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.c-sidenav__close-button:hover {
  color: #f1f1f1;
}
