/* ========================================================================== */
/* MOBILE */
/* ========================================================================== */
@media screen and (max-width: 599px) {
  .tablet-only,
  .desktop-only,
  .not-mobile {
    display: none;
  }

  .mobile-only,
  .not-tablet,
  .not-desktop {
    display: initial;
  }
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* TABLET */
/* ========================================================================== */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .desktop-only,
  .mobile-only,
  .not-tablet {
    display: none;
  }

  .tablet-only,
  .not-desktop,
  .not-mobile {
    display: initial;
  }
}
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* DESKTOP */
/* ========================================================================== */

@media screen and (min-width: 599px) {
  .tablet-only,
  .mobile-only,
  .not-desktop {
    display: none;
  }

  .desktop-only,
  .not-tablet,
  .not-mobile {
    display: flex;
  }
}
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
