:root {
  /* ========================================================================== */
  /* Screen Sizes */
  /* ========================================================================== */
  --min-mobile: 320px;
  --max-mobile: 599px;

  --min-tablet: 600px;
  --max-tablet: 959px;

  --min-desktop: 960px;
  --max-desktop: 1200px;

  /* ========================================================================== */
  /* Transitions */
  /* ========================================================================== */
  --transition-duration: 305ms;
  --scale-base: 1.1;

  /* ========================================================================== */
  /* Z-indexes */
  /* ========================================================================== */
  --z-above: 500;
  --z-modal: 400;
  --z-overlay: 300;
  --z-dropdown: 200;
  --z-default: 1;
  --z-below: -1;

  /* ========================================================================== */
  /* Measures */
  /* ========================================================================== */

  --global-max-width: 1200px;
  --global-font-size: 16px;
  --global-radius: 10px;
  --global-module-size: 30px;

  /* ========================================================================== */
  /* Colors */
  /* ========================================================================== */

  --color-background: #f0f0f7;
  --color-primary: #4cc3c1;
  --color-primary-dark: #227c7a;
  --color-secondary: #7c839b;
  --color-secondary-dark: #4376c2;
  --color-danger: #e44061;

  --color-text-base: #6a6180;

  --color-input-background: #b0cfe0;
  --color-input-selected-background: #e8f0fe;
  --color-hover-background: #e8f0fe;
  --color-inactive-background: #199393;

  --color-focus: #b0cfe0;
  --color-form-control-border: #ccc;
  --color-label: #aaa;
  --global-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
