body {
  overflow: hidden;
}

section {
  width: 100%;
  display: grid;
  grid-template-rows: 76px 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    "nav nav nav"
    "most-studied recent recent";
}

header {
  grid-area: nav;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-activities {
  display: flex;
  flex-direction: column;
  grid-area: recent;
  justify-self: flex-end;

  padding: 20px;
  min-height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  margin-top: 15px;

  margin-right: 20px;
  border-radius: 10px;
  border-bottom: 4px solid var(--color-primary);

  /* animation: 2s slide-up; */
}

.recent-activities__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recent-activities__header > img {
  margin-right: 10px;
}

.activity {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 4fr 1fr 1fr;

  grid-template-areas:
    "aside title       hour        time       "
    "aside content     .           .          "
    "aside description description description";

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-bottom: 4px solid var(--color-primary);

  height: 107px;
  width: 600px;
  padding: 12px;
}

.activity + .activity {
  margin-top: 20px;
}

.activity:hover {
  background-color: var(--color-hover-background);
  cursor: pointer;
}

.activity__icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  align-self: center;
  grid-area: aside;
}

.activity__subject {
  grid-area: title;
}
.activity__content {
  font-family: Roboto;
  grid-area: content;
}
.activity__description {
  grid-area: description;
  font-family: Roboto;
}

.activity__hour {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: hour;
  align-self: flex-start;
}

.hour__icon {
  width: 28px;
  margin-right: 5px;
}

.activity__time {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: time;
  align-self: flex-start;
}

.time__icon {
  margin-right: 5px;
  width: 30px;
}

.hour__text,
.time__text {
  font-family: Roboto;
}

.today > p {
  margin-bottom: 5px;
}
.today > p > strong {
  margin-right: 10px;
}

.recent-activities .today .card {
  margin-top: 10px;
}

.today .total-daily-activities {
  font-size: 11px;
}

.card .card-header .sub-activity {
  margin-right: 120px;
}

.card .card-body {
  margin-top: 10px;
  font-size: 12px;
  border-bottom: solid 1px;
}

.card .card-body p {
  margin-bottom: 10px;
}

.most-studied {
  display: flex;
  flex-direction: column;
  width: 336px;

  background: #f2f2f2;
  border-bottom: 4px solid var(--color-primary);
  border-radius: 10px;

  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);

  margin: 30px 0 0 30px;
  grid-area: most-studied;
  height: 200px;
}

.most-studied__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  align-items: center;
}

.header__icon {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.most-studied__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.subject {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subject__title {
  width: 100px;
}

.subject__time {
  display: flex;
  align-items: center;
}

.subject + .subject {
  margin-top: 20px;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    transform: rotate(80deg);
  }

  to {
    margin-top: 15px;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    transform: rotate(190deg);
  }

  to {
    margin-left: 15px;
  }
}
