<ul class="c-menu-list">
  <li class="c-menu-item">
    <a id="home" class="c-menu-link" href="../../pages/home/home.html">Home</a>
  </li>
  <li class="c-menu-item">
    <a id="atividades" class="c-menu-link" href="../atividades/atividades.html">Atividades</a>
  </li>
  <li class="c-menu-item">
    <a id="estatísticas" class="c-menu-link" href="../estatisticas/estatisticas.html">Estatísticas</a>
  </li>
  <li class="c-menu-item">
    <a id="ajuda" class="c-menu-link" href="../ajuda/ajuda.html">Ajuda</a>
  </li>
  <li class="c-menu-item">
    <a id="sobre" class="c-menu-link" href="../sobre/sobre.html">Sobre</a>
  </li>
</ul>
