.menu-list {
  justify-content: space-evenly;
  align-items: center;

  height: 76px;
  width: 100%;
  max-width: var(--global-max-width);
  font-size: 21px;
  list-style-type: none;
}

.c-menu-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  max-width: var(--global-max-width);
  font-size: 21px;
  list-style-type: none;
}

.c-menu-item {
  position: relative;
  outline: none;
}

.c-menu-item::after,
.c-menu-item::before {
  display: flex;

  position: absolute;
  content: "";

  width: 0%;
  height: 2px;

  background-color: var(--color-inactive-background);
  bottom: -3px;

  transition: width 0.2s;
}

.c-menu-item::before {
  right: auto;
  left: 0;
}

.c-menu-item::after {
  left: auto;
  right: 0;
}

.c-menu-item:hover::after,
.c-menu-item:hover::before {
  width: 50%;
}

.c-menu-link {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 24px;
  outline: none;
}

.c-menu-link:focus {
  text-shadow: 9px 3px var(--color-focus);
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black;
  transition: text-shadow 0.3s;
  background-color: transparent;
}

/* ========================================================================== */
/* TABLET STYLES  */
/* ========================================================================== */

@media screen and (min-width: 600px) and (max-width: 959px) {
  :root {
    --global-max-width: 959px;
  }

  .c-menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 76px;
    width: 100%;
    max-width: var(--global-max-width);
  }
}

/* ========================================================================== */
/* MOBILE STYLES  */
/* ========================================================================== */

@media screen and (max-width: 599px) {
  .menu-list {
    height: 100%;
  }
  .c-menu-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    font-size: calc(25px + 40 * ((100vw - 320px) / 880));
    height: 100%;
    border: solid red;
  }

  .c-menu-item {
    padding: 10px;
  }

  .c-menu__button {
    background-color: transparent;
  }

  .c-menu__button__svg {
    fill: white;
    height: 25px;
  }

  .c-menu-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: Nautilus Pompilius;
    font-size: calc(25px + 40 * ((100vw - 320px) / 880));
  }

  .c-menu-item::after,
  .c-menu-item::before {
    display: none;
  }
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
