@font-face {
  font-family: "Nautilus Pompilius";
  src: url(../../assets/fonts/NautilusPompilius.ttf);
}

body {
  height: 100vh;
}
.input-container > *,
.user-name,
.top-bar-title {
  font-family: Nautilus Pompilius;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../../assets/img/background-clean.jpg) no-repeat center center;
  background-size: 100%;
}

.perfil-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 900px;
  height: min(750px, 100%);

  background-color: var(--color-background);
  border-radius: var(--global-radius);
  padding: var(--global-radius);
}

.logo {
  width: 100px;
  height: 60px;
  transition: transform var(--transition-duration);
  z-index: 2;
}
.logo-link {
  width: 100px;
  height: 60px;
  z-index: 2;
}
.logo-link:hover .logo {
  transition: transform var(--transition-duration);
  transform: scale(var(--scale-base));
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: var(--global-radius);
}
.top-bar-title {
  font-size: 50px;
  color: var(--color-text-base);
  z-index: 2;
  margin-left: 55px;
}
.back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  border-radius: 50px;
  background-color: var(--color-primary);
  transition: var(--transition-duration);
}

.back-button-container,
.back-button {
  opacity: 80%;
}

.back-button-container:hover .back-button {
  transition: opacity var(--transition-duration);
  opacity: 100%;
}

.back-button {
  opacity: 80%;
  width: 30px;
  height: 30px;
  transition: var(--transition-duration);
}

.user-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;

  margin-top: 20px;
  color: var(--color-primary);
}
.user-image-container > img {
  position: absolute;

  top: -98px;

  width: 750px;
  height: 350px;

  opacity: 30%;
  z-index: 1;
}
.user-image-container :not(img) {
  z-index: 3;
}

.user-image {
  display: flex;

  background-image: url(../../assets/img/tony-stark.png);
  background-size: 130px 130px;
  border-radius: 50%;
  background-repeat: no-repeat;

  width: 130px;
  height: 130px;
}
.user-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../../assets/icons/cam-icon.svg) no-repeat center;
  opacity: 80%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: opacity var(--transition-duration);
}

.user-image:hover::after {
  opacity: 100%;
  transition: opacity var(--transition-duration);
}

.user-name {
  font-size: 32px;
  margin-top: 20px;
  z-index: 2;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;

  background-color: var(--color-primary);

  color: white;
}
