.l-header header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-background-header);
  font-family: Nautilus Pompilius;
  height: 76px;
  width: 100%;
}

.l-header__nav {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Nautilus Pompilius;
  width: 100%;
  max-width: var(--global-max-width);
}

.l-header__logo {
  width: 80px;
  height: 58px;
  margin-left: 40px;
}

.user-profile-icon {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  margin-right: 25px;
}

.user-profile-icon__image {
  width: 30px;
  height: 26px;
}

.user-profile-icon:after {
  color: white;
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.visible {
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}

.user-container {
  display: flex;
}

.c-menu__button {
  background-color: transparent;
  margin-right: 10px;
}

.c-menu__button__svg {
  fill: white;
  height: 25px;
}

.c-toggle {
  position: relative;

  width: 65px;
  height: 29px;

  margin-right: 20px;
}
.c-toggle__input {
  opacity: 0;
  height: 0;
  width: 0;
}

.c-toggle__switch {
  position: absolute;

  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 49px;
  border-radius: 34px;
  /* background-color: rgb(139, 195, 139); */
  border: white solid 0.5px;
}

.c-toggle__switch::before {
  content: "";
  position: absolute;

  background-image: url(../../assets/icons/sun.png);
  background-size: 25px 25px;

  height: 25px;
  width: 25px;

  right: 4px;
  bottom: 1px;

  transition: background-image 0.4s, transform 0.4s;
}

.c-toggle__input:checked + .c-toggle__switch::before {
  background-image: url(../../assets/icons/moon.svg);
  transform: translateX(-17px);
}

/* ========================================================================== */
/* TABLET STYLES  */
/* ========================================================================== */

@media screen and (min-width: 600px) and (max-width: 959px) {
}

/* ========================================================================== */
/* END-TABLET STYLES  */
/* ========================================================================== */

/* ========================================================================== */
/* MOBILE STYLES  */
/* ========================================================================== */

@media screen and (max-width: 599px) {
  .l-header__logo {
    margin-left: 20px;
  }
}

/* ========================================================================== */
/* SIDENAV   */
/* ========================================================================== */

.c-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  position: fixed;
  z-index: var(--z-above);
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: transform 0.5s;
  padding-top: 60px;
  text-align: center;
}

.c-sidenav__menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}
@media screen and (min-width: 320px) {
  /*
  [minimum size] +
  ([maximum size] - [minimum size]) *
  ((100vw - [minimum viewport width])
   / ([maximum viewport width] - [minimum viewport width])));
  */
  .c-sidenav {
    font-size: calc(25px + 40 * ((100vw - 320px) / 880));
  }
}

.c-sidenav__link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: Nautilus Pompilius;
}

.c-sidenav__link:hover {
  color: #f1f1f1;
}

.c-sidenav__close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 56px;
  margin-left: 50px;
  cursor: pointer;
  z-index: var(--z-overlay);
}

/* ========================================================================== */
/* END-SIDENAV   */
/* ========================================================================== */

/* ========================================================================== */
/* END-MOBILE STYLES  */
/* ========================================================================== */
