<ul>
    <a class="menu-selecionado" href="../home/home.html">
        <img class="logo" src="../../assets/img/logo.png" alt="">
    </a>
    <li>
        <a class="menu-selecionado" href="home.html">Home</a>
    </li>
    <li>
        <a href="../cadastrar-atividade/cadastrar-atividade.html">Cadastrar Atividades</a>
    </li>
    <li>
        <a href="../listar-atividade/listar-atividade.html">Listar Atividades</a>
    </li>
    <li>
        <a href="../sobre/sobre.html">Sobre</a>
    </li>
</ul>