* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal {
  display: flex;

  width: 96%;
  max-width: 1000px;
  height: 550px;

  border-radius: 3px;
  overflow: hidden;

  background-color: white;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.modal__shape-container {
  position: relative;

  width: 40%;
  height: 100%;
}

.shape-container__round-shape {
  width: 125%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #cdb196;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.modal__info {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 60%;
  height: 100%;
}
.modal .modal-info .info {
  width: 90%;
  height: 85%;
}
