@font-face {
  font-family: "Nautilus Pompilius";
  src: url(../../assets/fonts/NautilusPompilius.ttf);
}

body {
  background-color: #f8f9fa;
}

section {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: var(--global-box-shadow);
  transition: opacity 1s ease-in-out, transform 0.8s;
  width: 217px;
  height: 288px;

  opacity: 0;
}

.card:hover {
  box-shadow: var(--global-box-shadow);
  cursor: pointer;
  transform: scale(1.2);
}

.card .image-card {
  width: 100%;
}

.card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 16px;
}

.card .container > h4 > strong {
  font-family: Archivo;
  font-size: 24px;
  line-height: 17px;
}

.group-cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;

  transition: all 2s;
}
