body {
  background-color: #f8f9fa;
}

section {
  width: 100%;
}
.content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: fade 1.2s;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 450px;
  background: #fafafa;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 2px solid var(--color-primary);
}

input,
textarea,
select,
option {
  font-size: 11px;
  padding: 8px;
  outline: 0;
  border: 1px solid #b0cfe0;
  border-radius: 6px;
  margin-bottom: 10px;
}

input,
select,
option {
  height: 30px;
}

input[type='submit'],
input[type='reset'],
input[type='radio'] {
  cursor: pointer;
}

input[type='submit']:hover,
input[type='reset']:hover {
  opacity: 0.8;
}

input[type='submit'] {
  background-color: var(--color-secondary);
  color: white;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
  transition: all 0.3s;
}

input[type='reset'] {
  background-color: rgba(235, 50, 34, 0.815);
  color: white;
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.control-wrapper.duration input {
  height: 20px;
  width: 30px;
}
